<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!-- 
Copyright 2012 William Lieurance

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
 -->
<suite name="AzureSearchTestSuite" parallel="tests">
	<test name="AzureSearchNewsQueryTest" preserve-order="true">
		<classes>
			<class name="net.billylieurance.azuresearch.test.AzureSearchNewsTest"></class>
		</classes>
	</test>
	<test name="AzureSearchWebQueryTest" preserve-order="true">
		<classes>
			<class name="net.billylieurance.azuresearch.test.AzureSearchWebTest"></class>
		</classes>
	</test>
	<test name="AzureSearchImageQueryTest" preserve-order="true">
		<classes>
			<class name="net.billylieurance.azuresearch.test.AzureSearchImageTest"></class>
		</classes>
	</test>
	<test name="AzureSearchVideoQueryTest" preserve-order="true">
		<classes>
			<class name="net.billylieurance.azuresearch.test.AzureSearchVideoTest"></class>
		</classes>
	</test>
	<test name="AzureSearchRelatedSearchQueryTest" preserve-order="true">
		<classes>
			<class name="net.billylieurance.azuresearch.test.AzureSearchRelatedSearchTest"></class>
		</classes>
	</test>
	<test name="AzureSearchSpellingSuggestionQueryTest" preserve-order="true">
		<classes>
			<class name="net.billylieurance.azuresearch.test.AzureSearchSpellingSuggestionTest"></class>
		</classes>
	</test>

</suite>
